*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.menu{
    width: 1440px;
    margin: 0 auto;
    padding: 78px 94px;
}
.menu ul{
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.glavniytext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px 0;
}

.korobki{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.box{
    width: 558px;
    height: 452px;
    background-color: red;
    color: white;
    font-size: 64px;
    font-weight: 700;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    align-content: center;
}